.darkmode-layer, .darkmode-toggle {
    z-index: 999;
}

.popover {
    max-width: 60%;
}

.options-button:after {
    font-family: "FontAwesome";
    content: "\f105";
    float: right;
    margin-left: 6px;
    width: 8px;
}

.options-button--expanded:after {
    content: "\f107";
}

.original-repo td {
    font-weight: bold;
}

.input-group > :first-child {
    margin-left: 0;
}

.input-group > * {
    margin-left: 6px;
}

#rate-limit {
    font-size: x-small;
}

.dataTable tr > td:nth-child(1) {
    white-space: nowrap;
}
